<div>
  <div>
    <h1>
      List of photos
    </h1>
  </div>
</div>



<% if session.fetch(:user_id) != nil %>

<div>
  <div>

    <form action="/insert_photo" method="post" class="form-horizontal" enctype="multipart/form-data">
      
       
         
        <label for="browser_input_image">
          Image
        </label>

        <input type="file" id="browser_input_image" name="query_image" placeholder="Enter URL for the image..." class="form-control">
     
       
       
        <label for="caption_box">
          Caption
        </label>

        <textarea id="caption_box" name="query_caption" rows="2" placeholder="Enter a caption for the photo"></textarea>
      

      <button>
        Add photo
      </button>
    </form>
  </div>
</div>

<hr>

<% end %>

<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Image
        </th>

        <th>
          Caption
        </th>

        <th>
          Owner
        </th>

        <th>
          Posted
        </th>

        <th>
          Likes
        </th>

        <th>
          
        </th>

      </tr>

      <% @list_of_photos.each do |a_photo| %>
      <tr>
        <td>
          <img src="<%= a_photo.image %>">
        </td>

        <td>
          <%= a_photo.caption %>
        </td>

        <td>
          <%= a_photo.poster.username %>
        </td>

        <td>
          <%= time_ago_in_words(a_photo.created_at) %> ago
        </td>

        <td>
          <%= a_photo.likes_count %>
        </td>

        <td>
          <% if @current_user != nil%>
              <a href="/photos/<%= a_photo.id %>">
                Show details
              </a>
          <%else%>
              <a href="/user_sign_in" alert="You have to sign in first">
                Show details
              </a>
          <%end%>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
